##pycharm
/.idea/
##python
__pycache__
##pyenv
.python-version
##venv
/venv/
##setuptools
*.egg-info/
/dist/
##tox
/.tox/
##py.test
.cache/
##coverage
/.coverage
##jupyter
.ipynb_checkpoints/
##c++
*.o
*.so
